<!-- This was teken from a bootstrap site
this entire div of step counter and anim-path
has the main styling of the step counter in RoomView page,
Booking, summary, and Thankyou page -->

<!-- 4 steps in the step counter -->
<div id="anim-path step-counter">
  
<ul class="progress-tracker progress-tracker--text anim-path" id="step-counter">

    <!-- Li's of step 1 -->
    <!-- Step 1 should only be active if on Roomview -->
    <li class="progress-step is-active"  *ngIf="this.stepCounter.isOnRoomView == true; else rVComplete">
      <span class="progress-marker"></span>
      <span class="progress-text">
        <h4 class="progress-title"> 1</h4>
      </span>
    </li>

    <!--(step 1) else complete if on any other step -->
    <ng-template #rVComplete>
    <li class="progress-step is-complete">
        <span class="progress-marker"></span>
        <span class="progress-text">
          <h4 class="progress-title"> 1</h4>
        </span>
    </li>
    </ng-template>

    <!-- Li's of step 2 -->
    <!-- Step 2 should be inactive and not complete when on step 1 -->
    <li class="progress-step" *ngIf="this.stepCounter.isOnRoomView == true; else sOneComplete">
      <span class="progress-marker"></span>
      <span class="progress-text">
          <h4 class="progress-title"> 2</h4>
        </span>
    </li>

    <!--(step 2) else should be active when on step 2 -->
    <ng-template #sOneComplete>
        <li class="progress-step is-active" *ngIf="this.stepCounter.isOnBooking == true; else bookingComplete">
          <span class="progress-marker"></span>
          <span class="progress-text">
              <h4 class="progress-title"> 2</h4>
            </span>
        </li>
    </ng-template>

    <!-- (step 2) else should be complete if on step 3 or 4-->
    <ng-template #bookingComplete>
    <li class="progress-step is-complete">
            <span class="progress-marker"></span>
            <span class="progress-text">
                <h4 class="progress-title"> 2</h4>
              </span>
    </li>
    </ng-template>

    <!-- Li's of step 3 -->
    <!-- Step 3 should be inactive and not complete when on step 1 and 2 -->
    <li class="progress-step" *ngIf="this.stepCounter.isOnRoomView == true || this.stepCounter.isOnBooking == true; else sTwoComplete">
      <span class="progress-marker"></span>
      <span class="progress-text">
          <h4 class="progress-title"> 3</h4>
        </span>
    </li>

    <!-- (step 3) else should be active when on step 3 -->
    <ng-template #sTwoComplete>
    <li class="progress-step is-active" *ngIf="this.stepCounter.isOnSummary == true; else summaryComplete">
          <span class="progress-marker"></span>
          <span class="progress-text">
              <h4 class="progress-title"> 3</h4>
            </span>
     </li> 
    </ng-template>

    <!-- (step 3) else should be complete if on step 4 -->
    <ng-template #summaryComplete>
    <li class="progress-step is-complete">
            <span class="progress-marker"></span>
            <span class="progress-text">
                <h4 class="progress-title"> 3</h4>
              </span>
    </li>
    </ng-template>

    <!-- Li's of step 4 -->
    <!-- Step 4 should be inactive and not complete when on any step other than 4 -->
    <li class="progress-step" *ngIf="this.stepCounter.isOnRoomView == true || this.stepCounter.isOnBooking == true|| this.stepCounter.isOnSummary == true; else sThreeComplete">
      <span class="progress-marker"></span>
      <span class="progress-text">
          <h4 class="progress-title"> 4</h4>
        </span>
    </li>

    <!-- else should be complete when step 4 is reached -->
    <ng-template #sThreeComplete>
    <li class="progress-step is-complete">
        <span class="progress-marker"></span>
        <span class="progress-text">
            <h4 class="progress-title"> 4</h4>
          </span>
    </li>
    </ng-template>
</ul>
</div>