<nav id="gen-navbar"class= "navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="nav-font-color" class="navbar-brand" routerLink="">General</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a id="nav-font-color" routerLink="/">Home</a></li>
      <li><a id="nav-font-color" routerLink="/about">About</a></li>
      <li><a id="nav-font-color" routerLink="/rooms">Rooms</a></li>
      <li><a id="nav-font-color" routerLink="/concierge">Concierge</a></li>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a id="nav-font-color" routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a id="nav-font-color" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul> -->
  </div>
</nav>

<router-outlet></router-outlet>