#gen-navbar {
    background: #ee8409;
    margin: 0;
    padding: 0;
    color: black;
    border: none;
    border-radius: 0%;
}

#nav-font-color{
    color: black;
}

.nav {
    display: inline;
}

#navigation {
    color: #5f3ef3; 

}